.new-game-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.new-game-page .start-new-game-button {
    margin-bottom: 30px;
}

.column-info {
    text-align: center;
}